*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
}

button {
  background-color: transparent;
  font-size: 1em;
  border: none;
  color: inherit;
  cursor: pointer;
}

.icon-button {
  height: 2.25em;
  width: 2.25em;
  border-radius: 0.375em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.05);
    svg {
      opacity: 1;
    }
  }
  &:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
    svg {
      opacity: 1;
    }
  }
  svg {
    font-size: 1.5em;
    opacity: 0.5;
  }
  &.active {
    svg {
      opacity: 1;
    }
  }
  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
    svg {
      opacity: 0.25;
    }
  }
}
