.file-tree {
  width: 100%;
  .file {
    width: 100%;
    & > button {
      width: 100%;
      display: flex;
      padding-inline: 0.5em;
      height: 2em;
      text-align: left;
      align-items: center;
      gap: 0.375em;
      color: rgba($color: #fff, $alpha: 0.5);
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        svg {
          font-size: 1.375em;
        }
      }
      .label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.025);
        color: rgba($color: #fff, $alpha: 0.75);
      }
      &:active {
        background-color: rgba($color: #fff, $alpha: 0.0675);
        color: #fff;
      }
    }
    &.active > button {
      background-color: rgba($color: #fff, $alpha: 0.0675);
      color: #fff;
    }
  }
}
